<% var args = {
  pagename : 'archive'
} %>

<!DOCTYPE html>
<html lang="ja">

<head>
<%- include('inc/_meta', args) %>
</head>

<body id="pagetop">

<%- include('inc/_header',args) %>

  <main class="main">

    <h1>Fiction<span>小説</span></h1>

    <ul class="list">
      <% for (var i = 10; i > 0; i--) { %>
      <li class="list_item"><section>
        <a href="" class="list_link">
          <div class="list_data">
            <p class="list_label">fic</p>
            <p class="list_date">2017.01.10</p>
            <p class="list_series">エーテル欠乏症</p>
            <h2 class="list_title">陽炎のうつしび</h2>
            <p class="list_content">あと何時も持つまい。いずれ蕩けて消えてしまうと言うのならば、いっそこの手で何もなかったことにしてしまおう。</p>
            <p class="list_tag">幸真, 幸村精市, 真田弦一郎</p>
          </div>
        </a>
      </section></li>
      <% } %>
    </ul>

    <a href="">次のページへ</a>

  </main>

  <div class="controls">
    <a href="#pagetop" class="controls_item"><img src="" alt="ページの上部にもどる"></a>
    <a href="#searchBox" class="controls_item"><img src="" alt="コンテンツを検索する"></a>
  </div>

<%- include('inc/_footer',args) %>

</body>

</html>
