<% var args = {
  pagename : 'archive'
} %>

<!DOCTYPE html>
<html lang="ja">

<head>
<%- include('inc/_meta', args) %>
</head>

<body id="pagetop">

<%- include('inc/_header',args) %>

  <main class="main">

    <h1 class="heading-02">Fiction<span>小説</span></h1>

    <ul class="list column column-2col masonry">
      <li class="columnSizer"></li>
      <li class="columnGutter"></li>
      <% for (var i = 5; i > 0; i--) { %>
      <li class="list_item col"><section>
        <a href="" class="list_link">
          <div class="list_data">
            <h2 class="list_title">陽炎のうつしび</h2>
            <p class="list_content">あと何時も持つまい。いずれ蕩けて消えてしまうと言うのならば、いっそこの手で何もなかったことにしてしまおう。</p>
            <p class="list_series">エーテル欠乏症</p>
            <p class="list_tag">幸真, 幸村精市, 真田弦一郎</p>
            <p class="list_date">2017.01.10</p>
          </div>
        </a>
      </section></li>
      <li class="list_item col"><section>
        <a href="" class="list_link">
          <div class="list_data">
            <h2 class="list_title">陽炎のうつしび</h2>
            <p class="list_content">あと何時も持つまい。いずれ蕩けて消えてしまうと言うのならば。</p>
            <p class="list_tag">幸真, 幸村精市, 真田弦一郎</p>
            <p class="list_date">2017.01.10</p>
          </div>
        </a>
      </section></li>
      <% } %>
    </ul>

    <!-- <div class="loading"><div class="loading_inner"><i class="fa fa-spinner" aria-hidden="true"></i></div></div> -->

    <div class="navigation">
      <a href="archive-2.html"></a>
    </div>

  </main>

<%- include('inc/_footer',args) %>

</body>

</html>
