<% var args = {
  pagename : 'top'
} %>

<!DOCTYPE html>
<html lang="ja">

<head>
<%- include('inc/_meta', args) %>
</head>

<body id="pagetop" class="index">

<%- include('inc/_header',args) %>

  <main class="main">

    <div class="noticeWrap">
      <div class="notice">
        <p class="notice_item"><a href="" class="notice_link"><img src="" alt="2017年4月2日 新暴れん坊王子7発刊 『エーテル欠乏症』幸村×真田" class="notice_image"></a></p>
        <p class="notice_item"><a href="" class="notice_link"><img src="" alt="春コミ発刊 『観赤合同誌』観月×赤澤" class="notice_image"></a></p>
      </div>
      <a class="button-em">オフライン情報</a>
    </div>

    <div class="column column-2col">

      <section class="col">
        <h2 class="heading-02">Latest Fiction<span>新着小説</span></h2>
        <ul class="list">
          <% for(var i = 3; i > 0; i--){ %>
          <li class="list_item"><a href="" class="list_link">
            <div class="list_data">
              <p class="list_title">陽炎のうつしび</p>
              <p class="list_content">あと何時も持つまい。いずれ蕩けて消えてしまうと言うのならば、いっそこの手で何もなかったことにしてしまおう。</p>
              <p class="list_series">クックロビンはもう鳴かない</p>
              <p class="list_tag">幸真, 幸村精市, 真田弦一郎</p>
              <p class="list_date">2017.01.10</p>
            </div>
          </a></li>
          <% } %>
        </ul>
      </section>

      <section class="col">
        <h2 class="heading-02">Latest Picture<span>新着イラスト</span></h2>
        <ul class="list">
          <% for(var i = 3; i > 0; i--){ %>
          <li class="list_item"><a href="" class="list_link">
            <p class="list_image"><img src="https://placehold.jp/400x400.png" alt=""></p>
            <div class="list_data">
              <p class="list_title">陽炎のうつしび</p>
              <p class="list_tag">幸真, 幸村精市, 真田弦一郎</p>
              <p class="list_date">2017.01.10</p>
            </div>
          </a></li>
          <% } %>
        </ul>
      </section>

      <section class="col" id="author">
        <h2 class="heading-02">About<span>サイト概要</span></h2>
        <dl class="profile">
          <dt class="profile_name">真性エーテル欠乏症<span>Shinsei Ether Ketsubo-sho</span></dt>
          <dd class="profile_content">二次創作同人サイト。メインジャンルはテニスの王子様。同名の個人サークルにて同人活動を行っている。</dd>
        </dl>
        <dl class="profile">
          <dt class="profile_name">眞白マサキ<span>Mashiro Masaki</span></dt>
          <dd class="profile_content">幸村精市が宇宙。そして吸引力の変わらないただひとつの観月はじめ。葡萄が好き。</dd>
        </dl>
      </section>

      <section class="col" id="contact">
        <h2 class="heading-02">Contact<span>お問い合わせ</span></h2>
        <form action="" class="form">
          <dl class="form_item">
            <dt class="form_name">お名前</dt>
            <dd class="form_content">
              <input type="text" name="contactFormName" class="form_text">
            </dd>
          </dl>
          <dl class="form_item">
            <dt class="form_name">メールアドレス</dt>
            <dd class="form_content">
              <input type="text" name="contactFormMail" class="form_text">
            </dd>
          </dl>
          <dl class="form_item">
            <dt class="form_name">本文</dt>
            <dd class="form_content">
              <textarea class="form_textarea"></textarea>
            </dd>
          </dl>
          <p class="form_actions">
            <input type="submit" name="actionSubmit" value="問い合わせを送信" class="button">
          </p>
        </form>
      </section>

    </div>
    <!-- /column-2col -->


  </main>

<%- include('inc/_footer',args) %>
</body>

</html>
