/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

/* Document
   ========================================================================== */

html {
	font-family: sans-serif; /* 1 */
	line-height: 1.15; /* 2 */
	-ms-text-size-adjust: 100%; /* 3 */
	-webkit-text-size-adjust: 100%; /* 3 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
	margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	margin: .67em 0;
	font-size: 2em;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
	display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
	margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr { /* 1 */
	overflow: visible;
	box-sizing: content-box; /* 1 */
	height: 0; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
	background-color: transparent; /* 1 */
	-webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
	outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
	font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
	font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
	background-color: #ff0;
	color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
	display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
	border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea { /* 1 */
	margin: 0;
	font-family: sans-serif; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
	margin: 0 2px;
	padding: .35em .625em .75em;
	border: 1px solid #c0c0c0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend { /* 2 */
	display: table;
	box-sizing: border-box; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 1 */
	color: inherit; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type='checkbox'],
[type='radio'] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search'] { /* 1 */
	outline-offset: -2px;
	-webkit-appearance: textfield; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button { /* 1 */
	font: inherit;
	-webkit-appearance: button; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
menu {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
	display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
	display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
	display: none;
}

/* perfect-scrollbar v0.6.12 */

.ps-container {
	overflow: hidden !important;
	-ms-touch-action: none;
	touch-action: none;
	-ms-overflow-style: none;
}

.ps-container.ps-active-x>.ps-scrollbar-x-rail,
.ps-container.ps-active-y>.ps-scrollbar-y-rail {
	display: block;
	background-color: transparent;
}

.ps-container.ps-in-scrolling {
	pointer-events: none;
}

.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail {
	background-color: #eee;
	opacity: .9;
}

.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail>.ps-scrollbar-x {
	background-color: #999;
}

.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail {
	background-color: #eee;
	opacity: .9;
}

.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y {
	background-color: #999;
}

.ps-container>.ps-scrollbar-x-rail {
	display: none;
	position: absolute;
	bottom: 0; /* there must be 'bottom' for ps-scrollbar-x-rail */
	height: 15px;
	-webkit-transition: background-color .2s linear, opacity .2s linear;
	transition: background-color .2s linear, opacity .2s linear; /* please don't change 'position' */
	opacity: 0;
}

.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x {
	position: absolute;
	bottom: 2px; /* there must be 'bottom' for ps-scrollbar-x */
	height: 6px;
	border-radius: 6px; /* please don't change 'position' */
	background-color: #aaa;
	-webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
	-webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
	transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
}

.ps-container>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x,
.ps-container>.ps-scrollbar-x-rail:active>.ps-scrollbar-x {
	height: 11px;
}

.ps-container>.ps-scrollbar-y-rail {
	display: none;
	position: absolute;
	right: 0; /* there must be 'right' for ps-scrollbar-y-rail */
	width: 15px;
	-webkit-transition: background-color .2s linear, opacity .2s linear;
	transition: background-color .2s linear, opacity .2s linear; /* please don't change 'position' */
	opacity: 0;
}

.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
	position: absolute;
	right: 2px; /* there must be 'right' for ps-scrollbar-y */
	width: 6px;
	border-radius: 6px; /* please don't change 'position' */
	background-color: #aaa;
	-webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
	-webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
	transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
}

.ps-container>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y,
.ps-container>.ps-scrollbar-y-rail:active>.ps-scrollbar-y {
	width: 11px;
}

.ps-container:hover.ps-in-scrolling {
	pointer-events: none;
}

.ps-container:hover.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail {
	background-color: #eee;
	opacity: .9;
}

.ps-container:hover.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail>.ps-scrollbar-x {
	background-color: #999;
}

.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail {
	background-color: #eee;
	opacity: .9;
}

.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y {
	background-color: #999;
}

.ps-container:hover>.ps-scrollbar-x-rail,
.ps-container:hover>.ps-scrollbar-y-rail {
	opacity: .6;
}

.ps-container:hover>.ps-scrollbar-x-rail:hover {
	background-color: #eee;
	opacity: .9;
}

.ps-container:hover>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x {
	background-color: #999;
}

.ps-container:hover>.ps-scrollbar-y-rail:hover {
	background-color: #eee;
	opacity: .9;
}

.ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y {
	background-color: #999;
}

#infscr-loading {
	width: 100%;
	text-align: center;
}

#infscr-loading img {
	display: none;
}

.loading {
	overflow: hidden;
	width: 100%;
	padding: 30px 0 0;
	font-size: 2.4rem;
	text-align: center;
}

.loading .fa {
	-webkit-animation: spin 1.6s linear infinite;
	animation: spin 1.6s linear infinite;
}

* {
	box-sizing: border-box;
	background-repeat: no-repeat;
	word-break: break-all;
}

html {
	overflow: auto;
	height: 100%;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,sans-serif;
	font-size: 62.5%;
}

body {
	height: 100%;
	color: #333;
}

body,
div,
p,
form,
input,
select,
option,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
address {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
	vertical-align: middle;
}

a {
	text-decoration: none;
}

.heading-01 {
	margin: 0 0 30px;
	padding: 15px 0 0;
	border-top: 1px solid #f2f2f2;
	font-family: '游明朝', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'ＭＳ 明朝', serif;
	font-size: 2.2rem;
	font-weight: normal;
	line-height: 1.6;
	text-align: center;
	letter-spacing: .2em;
}

.heading-02 {
	margin: 0 0 30px;
	padding: 10px 0 0;
	border-top: 1px solid #f2f2f2;
	font-family: '游明朝', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'ＭＳ 明朝', serif;
	font-size: 1.5rem;
	font-weight: normal;
	letter-spacing: .2em;
}

.heading-02::first-letter {
	margin: 0 5px 0 0;
	padding: 3px 5px;
	background: #333;
	color: #fff;
	font-size: 1.8rem;
	letter-spacing: normal;
	-webkit-transform: rotate(-15deg);
	transform: rotate(-15deg);
}

.heading-02 span {
	display: block;
	margin: -15px 0 0;
	color: #bdbdbd;
	font-size: 1.2rem;
	text-align: right;
}

.column {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: -60px 0 0;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.column::after {
	display: table;
	clear: both;
	content: '';
}

.column.list {
	margin: -20px 0 0;
}

.col {
	width: 100%;
	margin: 60px 0 0;
}

.button {
	width: 100%;
	height: 40px;
	border: none;
	border-radius: 4px;
	background: #404040;
	outline: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: bold;
	cursor: pointer;
	-webkit-transition: background .2s, color .2s;
	transition: background .2s, color .2s;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.button+.button {
	margin-top: 10px;
}

.button-disable {
	background: #ccc;
	color: #f2f2f2;
	font-weight: normal;
}

.button-notEm {
	border: 1px solid #e6e6e6;
	background: #f2f2f2;
	color: #333;
	font-size: 1.3rem;
}

.list_item:not(:first-child) {
	margin: 20px 0 0;
}

.column .list_item:first-child {
	margin: 20px 0 0;
}

.list_link {
	display: block;
	padding: 15px;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	background: #fff;
	color: #333;
	font-size: 1.2rem;
	line-height: 1.6;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.list_title {
	margin: 0 0 5px;
	font-size: 1.5rem;
	font-weight: bold;
}

.list_content {
	margin: .5em 0;
}

.list_image {
	margin-bottom: 10px;
	text-align: center;
}

.list_series {
	display: inline-block;
	margin: 4px 0 10px;
	padding: 0 10px;
	background: #f2f2f2;
	color: #a6a6a6;
}

.list_tag,
.list_date {
	color: #a6a6a6;
}

.form_item {
	padding: 15px;
	border: 1px solid #e6e6e6;
	font-size: 1.2rem;
	font-weight: bold;
}

.form_item:not(:first-child) {
	margin: 15px 0 0;
}

.form_text,
.form_textarea {
	width: 100%;
	margin: 10px 0 0;
	border: none;
	background: #f2f2f2;
	outline: none;
	font-size: 1.3rem;
	-webkit-transition: background .3s;
	transition: background .3s;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form_text {
	height: 30px;
	padding: 0 10px;
}

.form_textarea {
	height: 100px;
	padding: 10px;
	resize: none;
}

.form_check {
	border-top: 1px solid #404040;
}

.form_check:first-child {
	margin-top: 10px;
}

.form_check_input {
	display: none;
}

.form_check_label {
	display: block;
	position: relative;
	padding: 16px 15px 16px 32px;
	color: gray;
	font-weight: normal;
	cursor: pointer;
	-webkit-transition: color .2s;
	transition: color .2s;
}

.form_check_label::before {
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	top: 12px;
	left: 0;
	width: 22px;
	height: 22px;
	border: 1px solid #595959;
	border-radius: 22px;
	content: '';
}

.form_check_label::after {
	display: inline-block;
	position: absolute;
	top: 18px;
	left: 6px;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: gray;
	content: '';
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
	opacity: 0;
}

.form_check_input:checked+.form_check_label {
	color: #d9d9d9;
	font-weight: bold;
}

.form_check_input:checked+.form_check_label::after {
	opacity: 1;
}

.form_actions {
	margin: 15px 0 0;
}

html {
	-webkit-animation: flash .4s ease-out;
	animation: flash .4s ease-out;
}

.header {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}

.logo {
	width: 280px;
	margin: 0 auto;
	padding: 30px;
}

.index .logo {
	width: auto;
	padding: 60px 30px 40px;
}

.toggleArea {
	position: fixed;
	z-index: 100;
	top: 0;
	right: -70%;
	width: 70%;
	height: 100%;
	-webkit-transition: right .4s;
	transition: right .4s;
}

.toggleContents {
	overflow: hidden;
	height: 100%;
	background: #1a1a1a;
	color: #fff;
}

.toggleButton {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: -50px;
	width: 50px;
	height: 50px;
	padding: 2px 0 0;
	border: none;
	border-radius: 4px 0 0 4px / 4px 0 0 4px;
	background: #1a1a1a;
	outline: none;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.toggleButton_button,
.toggleButton_line {
	display: inline-block;
	box-sizing: border-box;
	-webkit-transition: all .4s;
	transition: all .4s;
}

.toggleButton_button {
	position: relative;
	width: 22px;
	height: 18px;
}

.toggleButton_line {
	position: absolute;
	left: 0;
	width: 100%;
	height: 3px;
	border-radius: 3px;
	background-color: #fff;
}

.toggleButton_line:nth-of-type(1) {
	top: 0;
}

.toggleButton_line:nth-of-type(2) {
	top: 7px;
}

.toggleButton_line:nth-of-type(3) {
	bottom: 0;
}

.toggleButton_text {
	margin: 4px 0 0;
	font-family: '游明朝', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'ＭＳ 明朝', serif;
	font-size: 1.1rem;
	text-indent: .2em;
	letter-spacing: .1em;
}

.toggleArea.active {
	right: 0;
}

.toggleArea.active .toggleButton_text span {
	display: none;
}

.toggleArea.active .toggleButton_text::before {
	content: attr(data-closetext);
}

.toggleArea.active .toggleButton_line:nth-of-type(1) {
	-webkit-transform: translateY(6px) rotate(-45deg);
	transform: translateY(6px) rotate(-45deg);
}

.toggleArea.active .toggleButton_line:nth-of-type(2) {
	-webkit-transform: translateY(-1px) rotate(45deg);
	transform: translateY(-1px) rotate(45deg);
}

.toggleArea.active .toggleButton_line:nth-of-type(3) {
	opacity: 0;
}

.globalNavigation {
	margin: 15px;
	text-align: left;
}

.globalNavigation_item:not(:first-child) {
	border-top: 1px solid #404040;
}

.globalNavigation_link {
	display: block;
	position: relative;
	padding: 15px;
	color: #d9d9d9;
	font-family: '游明朝', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'ＭＳ 明朝', serif;
	font-size: 1.5rem;
	letter-spacing: .1em;
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
}

.globalNavigation_link span {
	position: absolute;
	top: 50%;
	right: 15px;
	color: gray;
	font-size: 1.2rem;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.searchBox {
	margin: 20px 20px 30px;
	text-align: left;
}

.searchBox .form_item {
	border-color: #404040;
}

.searchBox .form_item:not(:first-child) {
	margin-top: 20px;
}

.searchBox .form_name {
	color: #999;
}

.searchBox .form_text {
	background-color: #292929;
	color: #d9d9d9;
	-webkit-transition: background .3s;
	transition: background .3s;
}

.searchBox .form_actions {
	margin-top: 20px;
}

.searchBox .button {
	background: #404040;
	color: #bfbfbf;
	font-size: 1.3rem;
}

.main {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 30px 80px;
}

.work_content {
	margin: 50px 0;
	font-size: 1.4rem;
	line-height: 1.8;
}

.work_content p {
	text-indent: 1em;
}

.work_content p.noIndent {
	text-indent: -.5em;
}

.work_desc {
	margin-bottom: 50px;
	padding: 15px;
	border: 1px solid #e6e6e6;
	background: #f2f2f2;
	color: #999;
	font-size: 1.3rem;
	line-height: 1.8;
}

.work_date {
	font-size: 1.2rem;
	text-align: right;
}

.controls {
	position: fixed;
	right: -100px;
	bottom: 50px;
	border-radius: 4px 0 0 4px / 4px 0 0 4px;
	background: #333;
	color: #fff;
	font-size: 2rem;
	-webkit-transition: right .3s, opacity .3s;
	transition: right .3s, opacity .3s;
	opacity: .1;
}

.controls::after {
	display: table;
	clear: both;
	content: '';
}

.controls[data-itemcount='3'] {
	right: -150px;
}

.controls.active {
	right: 0;
	opacity: 1;
}

.controls_button {
	border: none;
	border-right: 1px solid #404040;
	background: transparent;
	outline: none;
	cursor: pointer;
}

.controls_item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	float: left;
	width: 50px;
	height: 50px;
	color: #fff;
	vertical-align: top;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.controls_item:first-child {
	color: #ccc;
}

.controls_item span {
	display: none;
}

.changeFontSize {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 20px 30px;
	background: #333;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, .3);
	color: #fff;
	font-size: 1.2rem;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.changeFontSize.active {
	display: block;
}

.changeFontSize_heading {
	margin-bottom: 15px;
	color: #999;
	font-size: 1.2rem;
	text-align: center;
}

.changeFontSize_set {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 162px;
	margin: 0 auto;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.changeFontSize_button {
	display: inline-block;
	width: 44px;
	height: 44px;
	padding: 0;
	border-radius: 4px;
	outline: none;
	color: #fff;
	font-size: 1.5rem;
	line-height: 44px;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.noticeWrap {
	display: none;
}

.profile {
	font-size: 1.4rem;
	line-height: 1.8;
}

.profile:not(:nth-of-type(1)) {
	margin: 1.5em 0 0;
}

.profile_name {
	margin-bottom: .5em;
	padding: 0 0 0 10px;
	border-left: 6px solid #d9d9d9;
	font-size: 1.3rem;
	font-weight: bold;
}

.profile_name span {
	display: block;
	font-size: 1.2rem;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

.ps-container {
	overflow: auto !important;
}

}

@media print, screen and (min-width: 568px) {

.index .logo {
	width: 60%;
}

.toggleArea {
	right: -50%;
	width: 50%;
}

}

@media print, screen and (min-width: 768px) {

.heading-01 {
	font-size: 2.8rem;
}

.heading-02 {
	font-size: 1.7rem;
}

.heading-02::first-letter {
	padding: 4px 6px;
	font-size: 2rem;
}

.heading-02 span {
	font-size: 1.3rem;
}

.column-2col>.col {
	width: 47.5%;
}

.column-2col>.col:not(:nth-child(2n)) {
	margin-right: 5%;
}

.column-2col>.columnSizer {
	width: 47.5%;
}

.column-2col>.columnGutter {
	width: 5%;
}

.list_link::after {
	display: table;
	clear: both;
	content: '';
}

.list_image {
	float: left;
	width: 33%;
	margin: 0 15px 0 0;
}

.list_data {
	overflow: hidden;
}

.logo {
	width: 320px;
	padding: 40px 30px;
}

.toggleArea {
	right: -380px;
	width: 380px;
}

.toggleButton {
	top: 15px;
}

.main {
	padding-bottom: 100px;
}

.work {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
}

.work_content {
	font-size: 1.6rem;
}

.controls {
	top: 80px;
	bottom: auto;
}

.changeFontSize {
	padding: 30px 60px;
}

.changeFontSize_heading {
	margin-bottom: 20px;
	font-size: 1.4rem;
}

}

@media print, screen and (min-width: 1025px) {

.button {
	background: #595959;
	color: #f2f2f2;
}

.button:hover {
	background: #404040;
	color: #fff;
}

.list_link {
	opacity: 1;
}

.list_link:hover {
	opacity: .5;
}

.form_text:focus,
.form_textarea:focus {
	background: #d9d9d9;
}

.globalNavigation_link:hover {
	-webkit-transform: translateX(-10px);
	transform: translateX(-10px);
}

.searchBox .form_text:focus {
	background-color: #3d3d3d;
}

.searchBox .button {
	background: #333;
	color: #999;
}

.searchBox .button:hover {
	background: #4d4d4d;
	color: #b3b3b3;
}

}

@media print, screen and (max-width: 320px) {

.toggleArea {
	right: -80%;
	width: 80%;
}

}

@-webkit-keyframes spin {

0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

}

@keyframes spin {

0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

}

@-webkit-keyframes flash {

0% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}

@keyframes flash {

0% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}


/*# sourceMappingURL=common.css.map */
