// color
$black: #333;
$white: #fff;
$gray: #bdbdbd;
$red: #D00002;

$lightGray: #ddd;
$lightRed: #FCECEC;

$darkBlack: #222;
$darkGray: #777;

//size
$wideMax: 1000px;
// $wideContents: 1140px;
// $wideMain: 880px;
// $wideSide: 230px;
