// color
$black: #333;
$white: #fff;
$gray: #bdbdbd;
$red: #D00002;

$lightGray: #f3f3f3;
$lightGray-b: #d8d8d8;
$lightGray-c: #ccc;
$lightGray-d: #f5f5f5;
$lightGray-e: #eee;

$lightRed: #FCECEC;

$darkBlack: #222;
$darkBlack-b: #505050;

$darkGray: #777;
$darkGray-b: #555;

$slantRed-a: #e00101;
$slantRed-b: #C10303;
$slantRed-c: #CE0101;

//size
$wideMax: 1000px;
// $wideContents: 1140px;
// $wideMain: 880px;
// $wideSide: 230px;
